.center.jumbotron
  %h1 Welcome to SWAPR!
  %h2
    The place to borrow and share your stuff!
    %p
      How many times have you been forced to purchase an expensive item that you only needed once.
      SWAPR is a brand new service that allows you to share your items with others in your area.
      Just sign up and you can search, post, and borrow items!

  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"