%footer.footer
  %small
    %a{:href => "http://swapr.herokuapp.com"} SWAPR
    by Duy Huynh and Henry Lawrence
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", '#'
