= render :partial => '/partials/navbar'

.container
  .page-header
    %h1 Welcome To SWAPR
  %p
    How many times have you been forced to purchase an expensive item that you only needed once. SWAPR is a brand new service that allows you to share your items with others in your area. Just sign up and you can search, post, and borrow items!
